@import "styles";

.products {
  margin: rem-calc(0 24);
  position: relative;
  flex: 1;
  
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__list {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    margin: rem-calc(0 16);
  }

  &__empty {
    margin: rem-calc(20 0);
  }

  &__view-type {
    color: $primary-color;
    padding: rem-calc(4 8);
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }

    &--active {
      background-color: $primary-color-lighter;
      border-radius: rem-calc(4);
    }
  }

  &__button {
    background-color: $primary-color;
    border: none;
    border-radius: rem-calc(4);
    height: rem-calc(32);
    padding: rem-calc(0 12);
    transition: all 0.2s linear;
    font-weight: 600;
    font-size: rem-calc(12);
    color: $white;
    cursor: pointer;
    outline: none;

    &:hover {
      background-color: darken($primary-color, 5);
    }

    &:disabled {
      background-color: $gray-light;
      color: $gray;
      cursor: default;
    }
  }
}
